.node {
  fill: red;
  /*stroke: #222;*/
  /*stroke-width: 1.5px;*/
}

.node.Person{
    fill: yellow;
}

.node.Database{
    fill: green;
}

.links line {
  stroke: #aaa;
}


/*#zoom_box > g:nth-child(2) > text*/

text {
  font-family: 'Fira Mono', monospace;
  /*font-family: 'Roboto Mono';*/
  fill: black;
  pointer-events: none;
}

